body {
  background: linear-gradient(300deg, #568ae4, #19d8d8);
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  height: 100vh;
  overflow: hidden;
}

h1 {
  text-align: center;
  padding: 15px;
}

.container.card {
  max-width: 700px;
  font-family: "Roboto Mono", monospace;
  border-radius: 25px;
}

.custom-btn {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  border-radius: 12px;
}

.card-custom {
  font-weight: 500;
  font-size: large;
}
